* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}

.habit {
  list-style-type: none;
  font-size: 2.5rem;
  padding: 0.5em;
}

.habit-count {
  background-color: darkseagreen;
  color: white;
  display: inline-block;
  text-align: center;
  font-size: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  margin-left: 0.2em;
  margin-right: 0.5em;
  border-radius: 50%;
}

.habit-button {
  font-size: 2.5rem;
  margin: 0 0.1em;
  background-color: goldenrod;
  border-radius: 0.2em;
  color: white;
}

.habit-button:hover {
  opacity: 0.7;
}

.habit-delete {
  background-color: transparent;
  color: darkred;
}

.navbar {
  background-color: palegoldenrod;
  font-size: 2rem;
  padding: 1em;
}

.navbar-logo {
  color: green;
  margin-right: 0.5em;
}

.navbar-count {
  background-color: green;
  color: white;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  border-radius: 50%;
  margin-left: 0.5em;
}
